.contentBox {
  padding-inline: 3px;
}
.contentPoster {
  width: 200px;
  border-radius: 5px;
}

.contentPoster img {
  width: 200px;
}

.contentBox:hover {
  opacity: 1;
  z-index: 0;
  transition: transform 0.3s;
  transform: scale(1.5);
}

.contentDetails {
  background-color: rgba(1, 1, 1, 0.7);
  top: 0px;
  position: absolute;
  font-size: 20px;
  transform: none;
}

.contentDetails p {
  margin: 10px;
}
