.contentBox {
  padding-inline: 3px;
}
.contentPoster img {
  width: 20vw;
  border-radius: 5px;
}

.contentPoster :hover {
  opacity: 1;
  transition: transform 0.3s;
  transform: scale(1.4);
  z-index: 0;
}
.contentDetails {
  top: 0px;
  position: absolute;
  font-size: 20px;
}

.contentDetails p {
  margin: 10px;
}
