.contentsSliderSection {
  z-index: 1;
  overflow: hidden;
}

.contentsSliderTitle {
  font-size: 1.5vw;
}

.slide {
  margin-top: 2vh;
  margin-bottom: 20px;
  display: flex;
  z-index: 2;
  transition: 1s;
}

.leftBtn {
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 200px;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}

.rightBtn {
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 100px;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  z-index: 3;
}
