.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 4%;

  background-color: rgba(0, 0, 0, 0.7);

  padding: 0.1em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.logo {
  width: 8%;
  object-fit: contain;
  margin-left: 20px;
}
